<!-- mat-dialogue-title -->
<div mat-dialogue-title>
    <h2>Add book to cart</h2>
</div>

<div mat-dialogue-title class="content">
    <div class="column">
        <mat-form-field appearance="outline">
            <mat-label>Book Name</mat-label>
            <input matInput type="text" placeholder="Book name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Author Name</mat-label>
            <input matInput type="text" placeholder="Author Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>book reference no</mat-label>
            <input matInput type="text" placeholder="Book Number">
        </mat-form-field>
    </div>

    <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Book category</mat-label>
          <mat-select>
           
              <mat-option *ngFor="let val of book_category" [value]="val">
                {{val}}
              </mat-option>
        
              <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}} -->
           
          </mat-select>
        </mat-form-field>
        </div>

    <!-- mat-dialogue-actions -->
<div mat-dialogue-actions >
    <div class="btn">
        <button mat-flat-button color="warn">Cancel</button>
        <button mat-flat-button color="primary">Save</button>
    </div>
</div>