*{
    padding: 10px 20px;
    width: 500px;
}

h2{
    padding-top: 50px;
}
mat-form-field{
    width: 80%;
}
.content{
    padding: 2px;
}

.column{
    display: flex;
    flex-direction: column;
    gap:2px;
}


button{
    margin-right: 20px;
    width: 100px;

}

.btn{
    margin-left: 20px;
}
