
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Crud Application</span>
  <span class="example-spacer"></span>
  <div class="add-button">
    <button mat-raised-button (click)="openAddEditEmpForm()" color="basic" 
            style="margin-right:20px">
            ADD EMPLOYEE
    </button>
    <button mat-raised-button color="basic" (click)="openAddBookForm()">
           ADD BOOK
    </button>
    <button mat-raised-button color="basic" (click)="openEditBookForm()">
           EDIT BOOK INFO
    </button>
      
  </div>
</mat-toolbar>
